<router-outlet></router-outlet>

<h1>Interpolacion</h1>

<p>Interpolacion de logica a html</p>
<h1>{{ nombre }}</h1>
<h2>De edad {{ edad }} casado {{ casado }}</h2>
<p>Objeto {{ persona }}</p>

<p>Interpolacion en doble via</p>
<input type="text" [(ngModel)]="nombre"> 

<p>Interpolacion de html a logica</p>
<button (click)="guardar()">Guardar</button>
<h3>{{ nombreGuardado }}</h3>

<hr>

<h1>Condicionales *ngIf (directiva)</h1>
<h3 *ngIf="casado">El esta casado</h3>
<h3 *ngIf="!casado">El NO esta casado</h3>

<h3 *ngIf="edad >= 18">El es MAYOR de edad</h3>
<h3 *ngIf="edad < 18">El es MENOR de edad</h3>

<hr>

<h1>Ciclos *ngFor (directiva)</h1>
<h3 *ngFor='let nombreDeLaLista of listaNombres'>
  &bull; {{ nombreDeLaLista }}
</h3>
